@import "variables";
@import "fonts";

@mixin list{
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin absolute-max{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin psevdo-absolute{
  content: '';
  position: absolute;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flexbox-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin align-items-flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@mixin align-items-flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@mixin justify-content-flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@mixin justify-content-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin justify-content-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin justify-content-space-around {
  align-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  justify-content: space-around;
}
@mixin flex-wrap{
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
@mixin align-self-flex-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@mixin  align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin origin($originX, $originY){
  -webkit-transform-origin: $originX $originY;
  -moz-transform-origin: $originX $originY;
  -o-transform-origin: $originX $originY;
  -ms-transform-origin:$originX $originY;
  transform-origin: $originX $originY;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


@mixin scrollbar {
  &::-webkit-scrollbar { @content; }
}

@mixin scrollbar-track {
  &::-webkit-scrollbar-track { @content; }
}

@mixin scrollbar-thumb {
  &::-webkit-scrollbar-thumb { @content; }
}

@mixin min-big-large {
  @media only screen and (min-width: 1600px) {
    @content;
  }
}
@mixin max-large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin min-large {
  @media only screen and (min-width: 1201px) {
    @content;
  }
}
@mixin max-medium {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin min-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin max-small {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin min-small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin max-small-for-table() {
  @media only screen and (max-width: 639px) {
    @content;
  }
}
@mixin extra-small {
  @media only screen and (max-width: 450px) {
    @content;
  }
}
@mixin f-normal {
  font-family: $fonts-roboto;
  font-weight: 400;
}
@mixin f-bold {
  font-family: $fonts-roboto;
  font-weight: 700;
}